body {
    background-image: url('https://get.wallhere.com/photo/portrait-display-vertical-pattern-digital-art-1182624.jpg'); /* URL ของรูปภาพที่คุณต้องการใช้เป็นพื้นหลัง */
    background-size: cover; /* ปรับขนาดรูปภาพให้เต็มพื้นที่ของพื้นหลัง */
    background-repeat: no-repeat; /* ไม่ให้รูปภาพทำซ้ำ */
}
h5{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    color: #ffffff;
    border: solid 5px rgb(255, 238, 0);
    padding: 5px;
    

}
.containerportplus{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0 auto;
    background-color: rgba(255, 139, 23, 0.23);
}

.astronomy p {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border: solid 5px rgb(11, 57, 225);
    padding: 10px;
}
.astronomy img {
    width: 33%; 
    height: 33%; 
}
p{
    color: #ffffff;
}
.com p {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border: solid 5px rgb(12, 225, 233);
    padding: 5px;
}
.com img {
    width: 33%;
    height: 33%;
}
.school p {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border: solid 5px rgb(223, 10, 10);
    padding: 5px;
}
.school img{
    width: 33%;
    height: 33%;
}
.sharp p {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border: solid 5px rgb(206, 8, 255);
    padding: 5px;
}
.sharp img{
    width: 25%;
    height: 25%;
    float:left;
    text-align:center;

}
.wit p {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border: solid 5px rgb(237, 84, 19);
    padding: 5px;
}
.wit img{
    width: 33%;
    height: 33%;
}